<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <title>Funciona</title>
</head>

<body>
    <!-- HEADER -->
    <div style="height: 500px;">
        <%- include('./partials/headerHome') %>
    </div>
    <!-- HEADER -->

    <!-- CATEGORIAS DE TODOS LOS PRODUCTOS -->
    <div class="category">
        <div class="container-img-category">
            <a href="#" class="img-category">
                p
            </a>
        </div>
    </div>
    <!-- CATEGORIAS DE TODOS LOS PRODUCTOS -->

    <!-- INFO PARA REGISTRO O VER PRODUCTOS -->
    <section class="usurio-comprador">
        <div class="container-usurio">
            <div class="img-containers img-usurio">
                ...
            </div>
            <h2>Nuestra comunidad</h2>
            <div class="container-text">
                <p>Compra, agrega y/o comercializa productos para tu beneficio.</p>
                <p>Has parte de nuestra comunidad.</p>
            </div>
            <a href="#" class="boton">
                <p>Registrate</p>
            </a>
        </div>
        <div class="container-comprador">
            <div class="img-containers img-comprador">
                ...
            </div>
            <h2>Nuestros productos</h2>
            <div class="container-text">
                <p>Echale un vistazo a los productos de la comunidad</p>
                <p>Agrega al carrito, compra y recibe tu producto</p>
            </div>
            <a href="#" class="boton">
                <p>Ver productos</p>
            </a>
        </div>
    </section>
    <!-- INFO PARA REGISTRO O VER PRODUCTOS -->

    <!-- CARRUSEL DE PRODUCTOS -->
    <div class="info-carrusel">
        <h2>Productos</h2>
        <div class="carrusel">
            <div class="contendor-g-carrusel">
                <div class="img">h</div>
                <div class="img">h</div>
            </div>
            <ul class="puntos">
                <li class="punto"></li>
                <li class="punto"></li>
            </ul>
        </div>
    </div>
    <!-- CARRUSEL DE PRODUCTOS -->
    <h1>HOLA</h1>
</body>

</html>