<header class="content-header-general">
    <div class="header">
        <div style="width: 14%;max-width: 100px;">
            <div class="logo">
                <a href="/"><img src="/img/logo circulo.png" alt="logo"></a>
            </div>
        </div>
        <div class="nav">
            <ul>
                <li><a href="#">Productos</a></li>
                <li><a href="#">Servicios</a></li>
                <li><a href="#">Contacto</a></li>
            </ul>
        </div>
        <div class="icons-nav">
            <a class="nav-icon icon" href="#"><i class="fa-solid fa-bars"></i></a>
            <a class="icon" href="#"><i class="fa-solid fa-user"></i></a>
            <a class="icon" href="#"><i class="fa-solid fa-basket-shopping"></i></i></a>
        </div>
    </div>
</header>